@import url(https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Fredoka", sans-serif;
}

body {
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #e6e6e6;
}

#weather-form > * {
  font-size: 1.2rem;
}

form input {
  border-radius: 5px;
}

form button {
  background-color: rgb(90, 189, 234);
  color: white;

  border-radius: 5px;
}

#weather-display-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
}

#weather-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);

  margin-left: 25%;
}

.weather-display-elements {
  white-space: nowrap;
}

#temperature {
  grid-row: 1 / span 3;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 15vw, 10rem);
}

#feelsLike {
  align-self: end;
}

#precipitation {
  align-self: center;
}

#location {
  font-size: 2.5em;
}

#weather-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#weather-icon img {
  width: clamp(4rem, 20vw, 12rem);
  height: auto;
}

